* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.bold {
  font-weight: bolder;
  font-family: sans-serif;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bolder;
}

.cnavbar {
  padding: 30px 0px;
}

.right-enav {
  gap: 30px;
}

.dropdown-item {
  color: white;
}

.collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.work-header {
  margin: 40px 0px;
  color: #4d4b4b;
}

.work-header h2 {
  font-size: 42px;
}

.work-header-description {
  font-size: 20px;
  text-align: center;
}

.work-header-description p {
  margin: 0px 260px;
}

.work-carousel {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

.work-carousel li h3 {
  margin: 20px 0px;
}

.work-carousel li p {
  color: grey;
}

#news-testimonials {
  border-bottom: 1px solid #e6e6e6;
}

.news {
  margin-top: 140px;
  margin-bottom: 50px;
  padding: 0px 50px;
}

.testimonials {
  margin-top: 140px;
  margin-bottom: 70px;
  padding: 0px 150px;
}

.news-item {
  border-bottom: 1px solid #e6e6e6;
}

.news-item .news-date {
  color: #c4c3c3;
  font-size: 14px;
  margin-top: 10px;
}

.news-item a {
  text-decoration: none;
}

.news-item a:hover .news-header {
  color: #1a1a1a;
}

.news-item .news-header {
  color: #52d681;
  font-size: 24px;
  font-weight: lighter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.news-item .news-description {
  color: grey;
}

.testimonials-item {
  width: 100%;
  margin: 30px 0px;
}

.testimonials-item q {
  font-size: 20px;
  font-style: italic;
}

.testimonials-item blockquote {
  margin-top: 30px;
  color: grey;
  font-style: italic;
}

.news-more {
  margin: 20px 0px;
  background-color: #52d681;
  border: none;
}

.news-more p {
  color: #349051;
  margin: 0 auto;
  padding: 10px 30px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  font-weight: bold;
  letter-spacing: 2px;
}

.news-more:hover p {
  color: white;
}

.feat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 42px;
  padding-bottom: 42px;
}

.feat-item .feat-icon i {
  font-size: 39px;
  color: #c4c3c3;
}

.feat-item .feat-content {
  margin-left: 30px;
}

.feat-item .feat-content a {
  text-decoration: none;
  color: #52d681;
  font-size: 12px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.feat-item .feat-content a:hover {
  color: black;
}

.lightblack-background {
  background-color: #262626;
  color: white;
}

.footer-links {
  padding: 50px;
}

.footer-links .footer-text {
  padding-right: 80px;
}

.footer-links .footer-text .footer-title {
  font-size: 24px;
}

.footer-links .footer-text .footer-description {
  color: grey;
  font-size: 14px;
}

.footer-links .links .links-header {
  color: white;
  font-size: 24px;
}

.footer-links .links a {
  text-decoration: none;
  font-size: 14px;
  color: #52d681;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer-links .links a:hover {
  color: white;
}

.footer-links .links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-links .subscribe input {
  display: block;
  border-radius: 8px;
  padding: 13px;
  width: 100%;
  margin-bottom: 5px;
}

.footer-links .subscribe button {
  border: none;
  background-color: #52d681;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bolder;
}

.darkblack-background {
  background-color: #1a1a1a;
  color: grey;
  font-size: 13px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.designer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.designer a {
  text-decoration: none;
  color: #349051;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.designer a:hover {
  color: white;
}

.designer, .trademark {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 20px;
  display: inline-block;
}

.designer p, .trademark p {
  display: inline;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .work-header-description p {
    margin: 0px 20px;
  }
  .work-carousel {
    min-width: 100px;
    min-height: 20px;
  }
  .work-carousel li {
    margin: 0px 50px;
  }
  .work-carousel li img {
    width: 300px;
    min-height: 242px;
  }
  .news {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 992px) {
  .work-carousel {
    display: none;
  }
  .designer, .trademark {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe input {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */