*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;    
}

.bold{
    font-weight: bolder;
    font-family: sans-serif;
}

.cnavbar{
    padding: 30px 0px;
}

.right-enav{
    gap:30px;
}

.dropdown-item{
    color:white;
}
.collapse{
    justify-content: end;
}


// @media  screen and (max-width: 992px) {
//     .right-enav{
//         display: none!important;
//     }
// }